.card-pricing__container{
  position: absolute;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 70px;
  background-color: rgba(0,0,0, 0.8);
  color:azure;
  font-family: Calibri;
  padding: 10px;
}

.card-pricing__title{
  margin-bottom: 3px;
}

.card-pricing__value, .card-pricing__value__console{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-pricing__value__console > span{
  font-weight: 600;
  color: rgb(127, 191, 255);
  margin-right: 10px;
}
