.card-label__container{
  position: absolute;
  bottom: 90px;
  right: 0;
}

.card-label__content{
  display: flex;
  align-items: center;
  background-color: #0d0d0dd0;
  color: aliceblue;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 40px;
  padding: 0px 50px;
  border-radius: 10px 0px 0px 10px;
}
