<div class="home__container">
  <app-card
  gameCover="https://cdn1.epicgames.com/offer/1b60f39de33b4902a8d5fa543b1fb628/EGS_SackboyABigAdventure_SumoDigital_S2_1200x1600-cc68022e4d17a383c8571dc43586353c"
  gameTipe="DIGITAL | PS4"
  gameLabel="DIGITAL"
  gamePrice="R$ 299,90"
  ></app-card>
  <app-card
  gameCover="https://i.pinimg.com/474x/0c/e7/d9/0ce7d933879c225bb4f301cde58c7aa7.jpg"
  gameTipe="DISC | PS5"
  gameLabel="EXCLUSIVE"
  gamePrice="R$ 399,90"
  ></app-card>
  <app-card
  gameCover="https://http2.mlstatic.com/D_NQ_NP_749479-MLB53454837886_012023-W.jpg"
  gameTipe="DISC | PS2"
  gameLabel="SALE"
  gamePrice="R$ 99,90"
  ></app-card>
  <app-card
  gameCover="https://cf.shopee.com.br/file/03eef2b5bcd1738a23fbf8f6e92d9d40"
  gameTipe="DIGITAL | PS2"
  gameLabel="SALE"
  gamePrice="R$ 89,90"
  ></app-card>
</div>
