
<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/PlayStation_logo_and_wordmark.svg" alt="psn store" width="140px" height="32px">
  </div>
  <div class="menu-bar__item">
    <ul>
      <li>Follow me on social media!</li>
      <li><a href="https://www.instagram.com/yesgabio/" target="_blank"> <i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/yesgabio/" target="_blank"> <i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/yesgabio" target="_blank"> <i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/yesgabio" target="_blank"> <i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>
